* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main { 
  min-height: 100vh;
  background: linear-gradient(to right top, #dda0dd, #add8e6);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins";
}

h1 {
  color: #191970;
  font-weight: 600;
  font-size: 2rem;
  opacity: 0.8;
}

h2,
p{
  color: #191970;
  font-weight: 300;
  opacity: 0.8;
}

h3 {
  color: #191970;
  font-weight: 600;
  opacity: 0.8;
}
.glass {
  height: 30%;
  background: white;
  width: 70%;
  border-radius: 2rem;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0.2)
  );
  z-index: 2;
  backdrop-filter: blur(2rem);
  display: flex;
}

.me{
  margin: 1rem;
  border-radius: 50%;
}
a{
  text-decoration: none;
}
a:hover {
  background: linear-gradient(to right top, #dda0dd, #add8e6);
  border-radius: 2rem;
}
.dashboard {
  flex:0;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: space-evenly;
  text-align: center;
  border-radius: 2rem;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0.2)
  );
}

.link {
  display: flex;
  margin: 1rem 0rem;
  padding: 1rem 2rem;
  align-items: center;

}

.link h2 {
  padding: 0rem 1rem;
}

.portfolio {
  flex: 2;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}


.card{
  display: flex;
  background: linear-gradient(
    to left top, 
    rgba(255,255,255,1), 
    rgba(255,255,255,0.3));
    border-radius: 1rem;
    margin: 2rem;
    padding: 1rem;
    box-shadow: 6px 6px 20px rgba(122,122,122,0.2);
    justify-content: space-between;
}

.card-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.progress{
  background: linear-gradient(to right top, #dda0dd, #add8e6);
  margin: 0rem;
  padding: 0.5rem;
  width: 70%;
  height: 50%;
  border-radius: 1rem;
  position: relative;
  overflow: hidden;
}


.status {
  margin-bottom: 3rem;
}
.status input{
  background: linear-gradient(
    to right bottom, 
    rgba(255,255,255,1), 
    rgba(255,255,255,0.6));
    border: none;
    border-radius: 2rem;
    width: 50%;
    padding: 0.5rem;
}

.level{
  font-weight: bold;
  background: linear-gradient(to right top,#dda0dd, #add8e6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.circle1,
.circle2,
.circle3,
.circle4,
.circle5,
.circle6 {
  width: 13rem;
  height: 13rem;
  border-radius: 50%;
  position: absolute;
  background: white;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.4),
    rgba(255, 255, 255, 0.1)
  );
  z-index: 2;
}

.circle1 {
  top: 5%;
  right: 10%;
}
.circle2 {
  bottom: 4%;
  left: 5%;
}
.circle3 {
  top: 7%;
  left: 1%;
}
.circle4 {
  bottom: 6%;
  right: 2%;
}
.circle5 {
  top: 0%;
  right: 20%;
}
.circle6 {
  top: -7%;
  left: 20%;
}
